/*you guys can add your own styles here*/
#head{
  background-color: #3b5998;
  margin-left: 0;
  padding-top: 5px;
  padding-left: 0;
}
#profile{
  background-color: #3b5998;
  margin-left: 0;
  padding-top: 10px;
  font-size: 16px;
}
.drop{
	display: inline;
}
.logo{
	padding-left: 50px;
	margin-left: 50px;
	text-align: right;
}
 textarea{
     width: 100%;
 }
#inputForm{
    background-color: #dfe3ee;
}
.nav > .active{
    background-color: transparent;
}
#photo > .container-fluid{
    height: 8em;
    background-color: white;
}


.container-fluid > .col-md-6{
    text-align: center;
    height: 100%;
    vertical-align: middle;
}
.container-fluid > .col-md-6:hover{
    
    background-color: #dfe3ee;
}
body{
    background-color: #dfe3ee;
}

#btn-bar{
    display: none;
}
#status:hover #btn-bar{
    display: block;
}
#inputForm{
    border-width: thin;
    border-style: solid;
    border-color: lightgray;
}